#options{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    margin: auto;
}
#butn{
    display: flex;
    border-radius: 50px;
    margin: auto;
    border: 1px solid transparent;
    transition: all ease 0.5s;
    width: 20%;
    justify-content: center;
    text-align: center;
}
#butn:hover{
    border: 1px solid aliceblue;
}