#col{
    background: rgba(128, 128, 128, 0.37);
    padding: 10px ;
    border-radius: 10px;
    margin-bottom: 5%;

}
#col b{
    /* margin-left: 25%;
    text-align: center;
    display: flex;
    align-items: center; */
    
}