#logout{
    margin:auto;
    padding: 10px;
    width: 150px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all ease 0.5s;
}
#logout:hover{
    border: 1px solid white;
}